<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299503151860-6pqir09lbs38e1u79qth80ah5882mlnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299503151860-6pqir09lbs38e1u79qth80ah5882mlnh</string>
	<key>API_KEY</key>
	<string>AIzaSyDgeZ8hVSg-JPnb-8DKBA-vRj4pOGXFaXg</string>
	<key>GCM_SENDER_ID</key>
	<string>299503151860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gazapp</string>
	<key>PROJECT_ID</key>
	<string>gaswater-b1edc</string>
	<key>STORAGE_BUCKET</key>
	<string>gaswater-b1edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299503151860:ios:4c1ad7658726f025a0cca1</string>
</dict>
</plist>